img {
  width: 500px;
}

select{
  text-align-last:center;
  direction: center;
}

.logo {
  width: 60%;
  margin-top: 5px;
}

.logo2 {
  width: 150px;
}

.form-group {
  margin: 35px;
}

.question {
  font-size: 30px;
  font-weight:500;
}
